@import '_mixins.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

$color_accent1: #F4334E;
$color_accent2: #002F69;
$color_text: #222222;
$color_input: #EBF3FA;
$color_bg1: #DFE6EB;
$color_bg2: #FAFAFA;

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
::-webkit-scrollbar-track {
    background: transparent; 
}
::-webkit-scrollbar-thumb {
    background: #CCCCCC; 
}
::-webkit-scrollbar-thumb:hover {
    background: #CCCCCC; 
}

*{
	@include box-sizing(border-box);
}

html, body{
	width: 100%;
	height: 100%;
}

body{
	font-family: 'Roboto', Arial, Arial, Helvetica, sans-serif;
	font-size: 16px;
	background-color: white;
	color: $color_text;
	overflow: hidden;
}

ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.no-highlight{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-o-user-select: none;
	user-select: none;
}

#login{
	.left{
		position: relative;
		padding: 30px 15px;
		height: 100%;
		img{
			width: 240px;
			margin-bottom: 60px;
		}
		@media only screen and (min-width: 768px) {
			height: 100%;
			padding: 30px;
			background-image: url('../img/doodle-1.png');
			background-position: bottom 60px right 0;
			background-size: 178px 276px;
			background-repeat: no-repeat;
			img{
				width: 240px;
				margin-bottom: 8vh;
			}
		}
		@media only screen and (min-width: 992px) {
			padding: 60px;
			img{
				width: 320px;
			}
		}
		p.footer{
			position: absolute;
			left: 30px;
			bottom: 15px;
			margin: 0;
			font-size: 10px;
			color: #999999;
			@media only screen and (min-width: 768px) {
				left: 30px;
				bottom: 30px;
			}
			@media only screen and (min-width: 992px) {
				left: 60px;
			}
			@media only screen and (max-height: 479px) {
				display: none;
			}
		}
	}
	.right{
		display: none;
		@media only screen and (min-width: 768px) {
			display: block;
			height: 100%;
			background-image: url('../img/landing.jpg');
			background-position: top right;
			background-size: cover;
			background-repeat: no-repeat;
		}
	}
}

.first{
	margin-top: 60px;
	a{
		color: $color_accent1;
		font-size: 18px;
		background-color: white;
	}
}

.forgot{
	display: block;
	width: 100%;
	max-width: 360px;
	margin-top: 2px;
	text-align: right;
	a{
		font-size: 14px;
		color: #999999;
		text-decoration: none;
		&:hover{
			color: $color_accent2;
			text-decoration: underline;
		}
	}
}

p{
	font-size: 14px;
	@media only screen and (min-width: 768px) {
		font-size: 18px;
	}
	&.error{
		margin-top: 10px;
		color: #F60000;
		font-size: 12px;
	}
	&.status{
		margin-top: 20px;
		color: #00e05e;
		font-size: 16px;
		font-weight: 700;
	}
}

.form-group{
	label{
		font-size: 18px;
		line-height: 1.2em;
		font-weight: normal;
	}
}

.form-control{
	max-width: 360px;
	height: 50px;
	font-size: 16px;
	color: $color_text;
	background-color: $color_input;
	border: none;
	@include border-radius(10px);
	@include box-shadow(0, 0, 0, rgba(0, 0, 0, 0));
	@include placeholder{
		color: #999999;
	}
}

.btn, .btn:active, .btn:focus{
	margin-top: 15px;
	margin-right: 10px;
	min-width: 130px;
	height: 40px;
	text-align: center;
	font-size: 18px;
	font-weight: normal;
	color: white;
	background-color: $color_accent1;
	border: 1px solid $color_accent1;
	@include border-radius(10px);
	@include transition (all, 0.2s, ease-out);
	@media only screen and (min-width: 768px) {
		min-width: 140px;
		height: 50px;
		font-size: 21px;
		@include border-radius(20px);
	}
	&:hover{
		color: white;
		background: $color_accent2;
		border: 1px solid $color_accent2;
	}
	&.btn-outline{
		color: $color_accent1;
		background-color: transparent;
		border: 1px solid $color_accent1;
		&:hover{
			color: $color_accent2;
			background-color: transparent;
			border: 1px solid $color_accent2;
		}
	}
}

.container-fluid{
	position: relative;
	width: 100%;
	height: 100%;
	> .wrapper-fluid{
		// width: 100%;
		height: 100%;
	}
}

.inner-page{
	background-color: $color_bg1;
}

.inner-form{
	background-color: $color_bg2;
}

header{
	position: relative;
	z-index: 9;
	height: 60px;
	padding: 10px 15px;
	background-color: white;
	@include box-shadow (0, 2px, 2px, rgba(0, 0, 0, 0.1));
	@media only screen and (min-width: 768px) {
		padding: 10px 30px;
	}
	.logo{
		img{
			cursor: pointer;
			width: 180px;
		}
	}
	.welcome{
		position: relative;
		text-align: right;
		.menu{
			cursor: pointer;
			font-size: 14px;
			line-height: 2.6em;
			@media only screen and (min-width: 768px) {
				font-size: 18px;
				line-height: 2em;
			}
			a{
				color: $color_accent2;
			}
		}
		.menu-dropdown{
			display: none;
			position: absolute;
			top: 40px;
			right: 10px;
			min-width: 160px;
			max-width: 200px;
			text-align: left;
			background-color: white;
			@include border-radius(6px);
			@include box-shadow (1px, 1px, 6px, rgba(0, 0, 0, 0.15));
			li{
				cursor: pointer;
				padding: 10px;
				font-size: 16px;
				color: $color_accent2;
				&:hover{
					text-decoration: underline;
				}
			}
		}
		.icon{
			margin-left: 10px;
			color: $color_accent2;
			font-size: 18px;
			vertical-align: middle;
			&.ion-android-menu{
				font-size: 24px;
				line-height: 1.6em;
			}
		}
	}
}

.content{
	width: 100%;
	max-width: 1024px;
	padding: 15px;
	margin-left: auto;
	margin-right: auto;
	@media only screen and (min-width: 768px) {
		padding: 40px 15px;
	}
	@media only screen and (min-width: 1200px) {
		padding: 40px 0;
	}
	h1{
		font-size: 24px;
		font-weight: 700;
		text-align: center;
		margin: 0;
		padding: 20px 0 30px;
		@media only screen and (min-width: 768px) {
			font-size: 32px;
			padding: 20px 0 40px;
		}
	}	
	h3{
		font-size: 18px;
		font-weight: 700;
		margin: 0 0 10px 0;
	}
}

.inner-form{
	.content{
		max-width: 360px;
	}
	.content-lg{
		max-width: 1024px;
		text-align: center;
		.bot-thanks{
			display: inline-block;
			margin: 30px auto 0;
			width: 90%;
			@media only screen and (min-width: 768px) {
				margin: 30px 0 0 240px;
				width: 394px;
			}
		}
		.bot-error{
			display: inline-block;
			margin: 30px auto 0;
			width: 90%;
			@media only screen and (min-width: 768px) {
				width: 519px;
			}
		}
	}
	a{
		color: $color_accent1;
	}
}

.scrollable-content{
	height: calc(100% - 60px);
	overflow-y: auto;
}

.steps{
	text-align: center;
	font-size: 0;
	margin-bottom: 30px;
	li{
		display: inline-block;
		text-align: center;
		width: 110px;
		&:first-child{
			.dot{
				&:before{
					display: none;
				}
			}
		}
		&:last-child{
			.dot{
				&:after{
					display: none;
				}
			}
		}
		.dot{
			position: relative;
			display: inline-block;
			width: 24px;
			height: 24px;
			background-color: #CCCCCC;
			@include border-radius(50%);
			&:before, &:after{
				content: '';
				position: absolute;
				top:12px;
				display: block;
				height: 1px;
				width: 43px;
				background-color: #CCCCCC;
			}
			&:before{
				right: 24px;
			}
			&:after{
				left: 24px;
			}
		}
		span{
			margin: 10px;
			display: block;
			font-size: 18px;
			color: #CCCCCC;
		}
		&.done{
			.dot{
				background-color: $color_accent1;
				&:before, &:after{
					background-color: $color_accent1;
				}
			}
			span{
				color: $color_accent1;
			}
		}
		&.active{
			.dot{
				background-color: $color_accent2;
				&:before{
					background-color: $color_accent1;
				}
			}
			span{
				color: $color_accent2;
			}
		}
	}
}

.tabs{
	ul{
		text-align: center;
	}
	li{
		position: relative;
		z-index: 1;
		cursor: pointer;
		display: inline-block;
		width: 45%;
		max-width: 200px;
		background-color: #F2F2F2;
		@include border-radius(10px 10px 0 0);
		a{
			display: block;
			padding: 5px 10px;
			font-size: 14px;
			font-weight: 700;
			line-height: 2em;
			color: $color_accent2;
			@media only screen and (min-width: 768px) {
				padding: 10px;
				font-size: 16px;
			}
		}
		&:first-child{
			margin-right: -15px;
		}
		&:lasst-child{
			margin-left: -15px;
		}
		&.active{
			z-index: 2;
			
			background-color: white;
			a{
				cursor: default;
				&:hover{
					text-decoration: none;
				}
			}
		}
	}
}

.content-card{
	background-color: white;
	min-height: 420px;
	@include border-radius(10px);
	@include box-shadow(0, 10px, 10px, rgba(0, 0, 0, 0.1));
}

table {
	thead{
		tr{
			th{
				border-color: #CCCCCC !important;
			}	
		}
	}
	tbody{
		tr{
			td{
				border-color: #CCCCCC !important;
			}
		}
	}
	th, td{
		// padding-top: 20px !important;
		// padding-bottom: 20px !important;
		padding: 0 10px !important;
		white-space: nowrap !important;
		@media only screen and (min-width: 768px) {
			padding: 0 20px !important;
		}
	}
	div.dataTables_wrapper {
        width: 800px !important;
        margin: 0 auto !important;
	}
	th{
		font-size: 12px;
		line-height: 4em;
		font-weight: 700;
		@media only screen and (min-width: 768px) {
			font-size: 14px;
		}
	}
	td{
		font-size: 14px;
		line-height: 4em;
		@media only screen and (min-width: 768px) {
			font-size: 16px;
		}
		a{
			text-decoration: underline;
		}
	}
	tr.clickable-row{
		cursor: pointer !important;
	}
	tr.expanded-row{
		display: none;
		td{
			border: none !important;
			line-height: 3em;
			font-size: 12px;
		}
	}
	// tr.shown{
	// 	& + tr{
	// 		td{
	// 			border: none !important;
	// 		}
	// 	}
	// 	td{
	// 		border: none !important;
	// 	}
	// }
	// &.expandableRow{
	// 	width: 100%;
	// 	td{
	// 		border: none !important;
	// 		line-height: 3em;
	// 		font-size: 12px;
	// 	}
	// }
}

.dataTables_wrapper.no-footer .dataTables_scrollBody{
	border-color: #CCCCCC !important;
}

.checkbox{
	cursor: pointer;
	position: relative;
	width: 24px;
	height: 24px;
	color: transparent;
	background-color: $color_input;
	border: 1px solid #CCCCCC;
	@include border-radius(6px);
	&.active{
		color: white;
		background-color: $color_accent1;
		border: 1px solid $color_accent1;
	}
	.icon{
		position: absolute;
		top: 3px;
		left: 4px;
		line-height: 0.5em;
	}
}

.pay-action{
	text-align: right;
	.total-wrapper{
		height: 60px;
	}
	.total-container{
		width: 200px;
		margin: 20px 10px 0 0;
		float: right;
		@media only screen and (min-width: 768px) {
			margin: 20px 20px 0 0;
		}
		&:after{
			content: '';
			display: table;
			clear: both;
		}
	}
	.total-label{
		text-align: left;
		font-weight: 700;
		font-size: 12px;
		@media only screen and (min-width: 768px) {
			font-size: 14px;
		}
	}
	.total-amount{
		text-align: right;
		font-weight: 700;
		font-size: 14px;
		@media only screen and (min-width: 768px) {
			font-size: 16px;
		}
	}
	.mode-wrapper{
		height: 110px;
	}
	.mode-container{
		width: 200px;
		margin: 20px 10px 0 0;
		text-align: left;
		float: right;
		@media only screen and (min-width: 768px) {
			margin: 20px 20px 0 0;
		}
		&:after{
			content: '';
			display: table;
			clear: both;
		}
		label{
			font-weight: 700;
			font-size: 12px;
			@media only screen and (min-width: 768px) {
				font-size: 14px;
			}
		}
	}
	.btn{
		margin-top: 10px;
		margin-right: 10px;
		margin-bottom: 20px;
		@media only screen and (min-width: 768px) {
			margin-right: 20px;
		}
	}
}
.paid-note{
	padding: 20px;
	text-align: center;
	font-size: 12px;
}

.doodle-2,.doodle-4{
	display: none;
	@media only screen and (min-width: 1200px) {
		display: block;
		position: absolute;
		left: -40px;
		bottom: -60px;
	}
}

.doodle-3{
	display: none;
	@media only screen and (min-width: 1200px) {
		display: block;
		position: absolute;
		right: -60px;
		bottom: 0;
	}
}

.doodle-5{
	display: none;
	@media only screen and (min-width: 1200px) {
		display: block;
		position: absolute;
		right: -40px;
		bottom: 0;
	}
}

.card-inner-wrapper{
	padding: 5px 10px;
	@media only screen and (min-width: 768px) {
		padding: 5px 40px;
	}
}

.help-item{
	position: relative;
	padding-top: 20px;
	padding-bottom: 40px;
	.number{
		position: absolute;
		left: 16px;
		top: 14px;
		width: 24px;
		height: 24px;
		font-size: 14px;
		font-weight: 700;
		line-height: 1.7em;
		text-align: center;
		color: white;
		background-color: $color_accent2;
		@include border-radius(50%);
	}
	img{
		display: block;
		width: 100%;
	}
	.description{
		font-size: 14px;
		line-height: 1.3em;
		padding: 10px;
	}
}

.doc{
	h2{
		width: 100%;
		margin: 15px 0;
		padding: 8px 15px;
		text-align: center;
		font-size: 16px;
		font-weight: 700;
		line-height: 1.3em;
		background-color: #F5F7FA;
	}
	.doc-header{
		font-size: 0;
	}
	.contact-container,.logo-container,.address-container{
		display: inline-block;
		width: 33.3%;
		padding: 5px 20px;
		font-size: 12px;
		white-space: pre-line;
		vertical-align: top;
	}
	.contact-container{
		text-align: left;
	}
	.logo-container{
		text-align: center;
		img{
			margin-top: 15px;
			width: 140px;
		}
		.location{
			display: block;
			margin-top: 5px;
			font-size: 16px;
		}
	}
	.address-container{
		text-align: right;
	}
	.doc-summary{
		font-size: 0;
	}
	.summary-item{
		display: inline-block;
		width: 50%;
		font-size: 0;
		padding: 5px 70px;
		.left{
			display: inline-block;
			width: 50%;
			font-size: 14px;
		}
		.right{
			display: inline-block;
			width: 50%;
			font-size: 14px;
			text-align: right;
			font-weight: 700;
		}
	}
	.doc-details{
		background-color: #F5F7FA;
		overflow-x: auto;
		thead, tbody{
			border-bottom: 1px solid #CCCCCC;
		}
		.total-left{
			text-align: right;
			font-size: 12px;
			@media only screen and (min-width: 768px) {
				font-size: 14px;
			}
		}
		.total-right{
			text-align: right;
			font-weight: 700;
			font-size: 14px;
			@media only screen and (min-width: 768px) {
				font-size: 16px;
			}
		}
		.notes{
			padding: 20px;
			font-size: 10px;
			color: #666666;
			line-height: 2em;
			ol{
				padding-left: 10px;
			}
		}
	}
	.print-action{
		text-align: center;
		padding: 20px;
	}
	p.message{
		font-size: 16px;
		padding: 20px;
		white-space: pre-line;
	}
	@media only screen and (max-width: 767px) {
		.contact-container,.address-container{
			display: none	
		}
		.logo-container{
			width: 100%;
			img{
				margin-top: 0;
			}
		}
		h2{
			margin: 0;
		}
		.summary-item{
			width: 100%;
			padding: 5px 10px;
		}
		table{
			display: block;
			overflow-x: auto;
			white-space: nowrap;
		}
	}
}

@media print {
	body {
		font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
		font-size: 12pt;
		line-height: 1.3;
		overflow: visible;
	}
	header {
		display: none;
	}
	.scrollable-content{
		height: auto;
	}
	.content{
		padding: 0;
	}
	.doc{
		page-break-after: always;
		h2{
			background-color: #FAFAFA !important;
    		-webkit-print-color-adjust: exact; 
		}
		.contact-container,.logo-container,.address-container{
			width: 32%;
		}
		.summary-item{
			padding: 5px 20px;
		}
		.doc-details{
			background-color: #FAFAFA !important;
    		-webkit-print-color-adjust: exact; 
		}
	}
	.print-action{
		display: none;
	}
	table{
		th, td{
			line-height: 2.4em !important;
			padding: 0 5px !important;
		}
		th{
			font-size: 10px !important;
		}
		td{
			font-size: 12px !important;
		}
	}
} 