@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #CCCCCC;
}

::-webkit-scrollbar-thumb:hover {
  background: #CCCCCC;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto', Arial, Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: white;
  color: #222222;
  overflow: hidden;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.no-highlight {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}

#login .left {
  position: relative;
  padding: 30px 15px;
  height: 100%;
}

#login .left img {
  width: 240px;
  margin-bottom: 60px;
}

@media only screen and (min-width: 768px) {
  #login .left {
    height: 100%;
    padding: 30px;
    background-image: url("../img/doodle-1.png");
    background-position: bottom 60px right 0;
    background-size: 178px 276px;
    background-repeat: no-repeat;
  }
  #login .left img {
    width: 240px;
    margin-bottom: 8vh;
  }
}

@media only screen and (min-width: 992px) {
  #login .left {
    padding: 60px;
  }
  #login .left img {
    width: 320px;
  }
}

#login .left p.footer {
  position: absolute;
  left: 30px;
  bottom: 15px;
  margin: 0;
  font-size: 10px;
  color: #999999;
}

@media only screen and (min-width: 768px) {
  #login .left p.footer {
    left: 30px;
    bottom: 30px;
  }
}

@media only screen and (min-width: 992px) {
  #login .left p.footer {
    left: 60px;
  }
}

@media only screen and (max-height: 479px) {
  #login .left p.footer {
    display: none;
  }
}

#login .right {
  display: none;
}

@media only screen and (min-width: 768px) {
  #login .right {
    display: block;
    height: 100%;
    background-image: url("../img/landing.jpg");
    background-position: top right;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.first {
  margin-top: 60px;
}

.first a {
  color: #F4334E;
  font-size: 18px;
  background-color: white;
}

.forgot {
  display: block;
  width: 100%;
  max-width: 360px;
  margin-top: 2px;
  text-align: right;
}

.forgot a {
  font-size: 14px;
  color: #999999;
  text-decoration: none;
}

.forgot a:hover {
  color: #002F69;
  text-decoration: underline;
}

p {
  font-size: 14px;
}

@media only screen and (min-width: 768px) {
  p {
    font-size: 18px;
  }
}

p.error {
  margin-top: 10px;
  color: #F60000;
  font-size: 12px;
}

p.status {
  margin-top: 20px;
  color: #00e05e;
  font-size: 16px;
  font-weight: 700;
}

.form-group label {
  font-size: 18px;
  line-height: 1.2em;
  font-weight: normal;
}

.form-control {
  max-width: 360px;
  height: 50px;
  font-size: 16px;
  color: #222222;
  background-color: #EBF3FA;
  border: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
}

.form-control.placeholder {
  color: #999999;
}

.form-control:-moz-placeholder {
  color: #999999;
}

.form-control::-moz-placeholder {
  color: #999999;
}

.form-control::-webkit-input-placeholder {
  color: #999999;
}

.btn, .btn:active, .btn:focus {
  margin-top: 15px;
  margin-right: 10px;
  min-width: 130px;
  height: 40px;
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  color: white;
  background-color: #F4334E;
  border: 1px solid #F4334E;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

@media only screen and (min-width: 768px) {
  .btn, .btn:active, .btn:focus {
    min-width: 140px;
    height: 50px;
    font-size: 21px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
  }
}

.btn:hover, .btn:active:hover, .btn:focus:hover {
  color: white;
  background: #002F69;
  border: 1px solid #002F69;
}

.btn.btn-outline, .btn:active.btn-outline, .btn:focus.btn-outline {
  color: #F4334E;
  background-color: transparent;
  border: 1px solid #F4334E;
}

.btn.btn-outline:hover, .btn:active.btn-outline:hover, .btn:focus.btn-outline:hover {
  color: #002F69;
  background-color: transparent;
  border: 1px solid #002F69;
}

.container-fluid {
  position: relative;
  width: 100%;
  height: 100%;
}

.container-fluid > .wrapper-fluid {
  height: 100%;
}

.inner-page {
  background-color: #DFE6EB;
}

.inner-form {
  background-color: #FAFAFA;
}

header {
  position: relative;
  z-index: 9;
  height: 60px;
  padding: 10px 15px;
  background-color: white;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 768px) {
  header {
    padding: 10px 30px;
  }
}

header .logo img {
  cursor: pointer;
  width: 180px;
}

header .welcome {
  position: relative;
  text-align: right;
}

header .welcome .menu {
  cursor: pointer;
  font-size: 14px;
  line-height: 2.6em;
}

@media only screen and (min-width: 768px) {
  header .welcome .menu {
    font-size: 18px;
    line-height: 2em;
  }
}

header .welcome .menu a {
  color: #002F69;
}

header .welcome .menu-dropdown {
  display: none;
  position: absolute;
  top: 40px;
  right: 10px;
  min-width: 160px;
  max-width: 200px;
  text-align: left;
  background-color: white;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.15);
}

header .welcome .menu-dropdown li {
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
  color: #002F69;
}

header .welcome .menu-dropdown li:hover {
  text-decoration: underline;
}

header .welcome .icon {
  margin-left: 10px;
  color: #002F69;
  font-size: 18px;
  vertical-align: middle;
}

header .welcome .icon.ion-android-menu {
  font-size: 24px;
  line-height: 1.6em;
}

.content {
  width: 100%;
  max-width: 1024px;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 768px) {
  .content {
    padding: 40px 15px;
  }
}

@media only screen and (min-width: 1200px) {
  .content {
    padding: 40px 0;
  }
}

.content h1 {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  padding: 20px 0 30px;
}

@media only screen and (min-width: 768px) {
  .content h1 {
    font-size: 32px;
    padding: 20px 0 40px;
  }
}

.content h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 10px 0;
}

.inner-form .content {
  max-width: 360px;
}

.inner-form .content-lg {
  max-width: 1024px;
  text-align: center;
}

.inner-form .content-lg .bot-thanks {
  display: inline-block;
  margin: 30px auto 0;
  width: 90%;
}

@media only screen and (min-width: 768px) {
  .inner-form .content-lg .bot-thanks {
    margin: 30px 0 0 240px;
    width: 394px;
  }
}

.inner-form .content-lg .bot-error {
  display: inline-block;
  margin: 30px auto 0;
  width: 90%;
}

@media only screen and (min-width: 768px) {
  .inner-form .content-lg .bot-error {
    width: 519px;
  }
}

.inner-form a {
  color: #F4334E;
}

.scrollable-content {
  height: calc(100% - 60px);
  overflow-y: auto;
}

.steps {
  text-align: center;
  font-size: 0;
  margin-bottom: 30px;
}

.steps li {
  display: inline-block;
  text-align: center;
  width: 110px;
}

.steps li:first-child .dot:before {
  display: none;
}

.steps li:last-child .dot:after {
  display: none;
}

.steps li .dot {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: #CCCCCC;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.steps li .dot:before, .steps li .dot:after {
  content: '';
  position: absolute;
  top: 12px;
  display: block;
  height: 1px;
  width: 43px;
  background-color: #CCCCCC;
}

.steps li .dot:before {
  right: 24px;
}

.steps li .dot:after {
  left: 24px;
}

.steps li span {
  margin: 10px;
  display: block;
  font-size: 18px;
  color: #CCCCCC;
}

.steps li.done .dot {
  background-color: #F4334E;
}

.steps li.done .dot:before, .steps li.done .dot:after {
  background-color: #F4334E;
}

.steps li.done span {
  color: #F4334E;
}

.steps li.active .dot {
  background-color: #002F69;
}

.steps li.active .dot:before {
  background-color: #F4334E;
}

.steps li.active span {
  color: #002F69;
}

.tabs ul {
  text-align: center;
}

.tabs li {
  position: relative;
  z-index: 1;
  cursor: pointer;
  display: inline-block;
  width: 45%;
  max-width: 200px;
  background-color: #F2F2F2;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}

.tabs li a {
  display: block;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 2em;
  color: #002F69;
}

@media only screen and (min-width: 768px) {
  .tabs li a {
    padding: 10px;
    font-size: 16px;
  }
}

.tabs li:first-child {
  margin-right: -15px;
}

.tabs li:lasst-child {
  margin-left: -15px;
}

.tabs li.active {
  z-index: 2;
  background-color: white;
}

.tabs li.active a {
  cursor: default;
}

.tabs li.active a:hover {
  text-decoration: none;
}

.content-card {
  background-color: white;
  min-height: 420px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

table thead tr th {
  border-color: #CCCCCC !important;
}

table tbody tr td {
  border-color: #CCCCCC !important;
}

table th, table td {
  padding: 0 10px !important;
  white-space: nowrap !important;
}

@media only screen and (min-width: 768px) {
  table th, table td {
    padding: 0 20px !important;
  }
}

table div.dataTables_wrapper {
  width: 800px !important;
  margin: 0 auto !important;
}

table th {
  font-size: 12px;
  line-height: 4em;
  font-weight: 700;
}

@media only screen and (min-width: 768px) {
  table th {
    font-size: 14px;
  }
}

table td {
  font-size: 14px;
  line-height: 4em;
}

@media only screen and (min-width: 768px) {
  table td {
    font-size: 16px;
  }
}

table td a {
  text-decoration: underline;
}

table tr.clickable-row {
  cursor: pointer !important;
}

table tr.expanded-row {
  display: none;
}

table tr.expanded-row td {
  border: none !important;
  line-height: 3em;
  font-size: 12px;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-color: #CCCCCC !important;
}

.checkbox {
  cursor: pointer;
  position: relative;
  width: 24px;
  height: 24px;
  color: transparent;
  background-color: #EBF3FA;
  border: 1px solid #CCCCCC;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.checkbox.active {
  color: white;
  background-color: #F4334E;
  border: 1px solid #F4334E;
}

.checkbox .icon {
  position: absolute;
  top: 3px;
  left: 4px;
  line-height: 0.5em;
}

.pay-action {
  text-align: right;
}

.pay-action .total-wrapper {
  height: 60px;
}

.pay-action .total-container {
  width: 200px;
  margin: 20px 10px 0 0;
  float: right;
}

@media only screen and (min-width: 768px) {
  .pay-action .total-container {
    margin: 20px 20px 0 0;
  }
}

.pay-action .total-container:after {
  content: '';
  display: table;
  clear: both;
}

.pay-action .total-label {
  text-align: left;
  font-weight: 700;
  font-size: 12px;
}

@media only screen and (min-width: 768px) {
  .pay-action .total-label {
    font-size: 14px;
  }
}

.pay-action .total-amount {
  text-align: right;
  font-weight: 700;
  font-size: 14px;
}

@media only screen and (min-width: 768px) {
  .pay-action .total-amount {
    font-size: 16px;
  }
}

.pay-action .mode-wrapper {
  height: 110px;
}

.pay-action .mode-container {
  width: 200px;
  margin: 20px 10px 0 0;
  text-align: left;
  float: right;
}

@media only screen and (min-width: 768px) {
  .pay-action .mode-container {
    margin: 20px 20px 0 0;
  }
}

.pay-action .mode-container:after {
  content: '';
  display: table;
  clear: both;
}

.pay-action .mode-container label {
  font-weight: 700;
  font-size: 12px;
}

@media only screen and (min-width: 768px) {
  .pay-action .mode-container label {
    font-size: 14px;
  }
}

.pay-action .btn {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .pay-action .btn {
    margin-right: 20px;
  }
}

.paid-note {
  padding: 20px;
  text-align: center;
  font-size: 12px;
}

.doodle-2, .doodle-4 {
  display: none;
}

@media only screen and (min-width: 1200px) {
  .doodle-2, .doodle-4 {
    display: block;
    position: absolute;
    left: -40px;
    bottom: -60px;
  }
}

.doodle-3 {
  display: none;
}

@media only screen and (min-width: 1200px) {
  .doodle-3 {
    display: block;
    position: absolute;
    right: -60px;
    bottom: 0;
  }
}

.doodle-5 {
  display: none;
}

@media only screen and (min-width: 1200px) {
  .doodle-5 {
    display: block;
    position: absolute;
    right: -40px;
    bottom: 0;
  }
}

.card-inner-wrapper {
  padding: 5px 10px;
}

@media only screen and (min-width: 768px) {
  .card-inner-wrapper {
    padding: 5px 40px;
  }
}

.help-item {
  position: relative;
  padding-top: 20px;
  padding-bottom: 40px;
}

.help-item .number {
  position: absolute;
  left: 16px;
  top: 14px;
  width: 24px;
  height: 24px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.7em;
  text-align: center;
  color: white;
  background-color: #002F69;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.help-item img {
  display: block;
  width: 100%;
}

.help-item .description {
  font-size: 14px;
  line-height: 1.3em;
  padding: 10px;
}

.doc h2 {
  width: 100%;
  margin: 15px 0;
  padding: 8px 15px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3em;
  background-color: #F5F7FA;
}

.doc .doc-header {
  font-size: 0;
}

.doc .contact-container, .doc .logo-container, .doc .address-container {
  display: inline-block;
  width: 33.3%;
  padding: 5px 20px;
  font-size: 12px;
  white-space: pre-line;
  vertical-align: top;
}

.doc .contact-container {
  text-align: left;
}

.doc .logo-container {
  text-align: center;
}

.doc .logo-container img {
  margin-top: 15px;
  width: 140px;
}

.doc .logo-container .location {
  display: block;
  margin-top: 5px;
  font-size: 16px;
}

.doc .address-container {
  text-align: right;
}

.doc .doc-summary {
  font-size: 0;
}

.doc .summary-item {
  display: inline-block;
  width: 50%;
  font-size: 0;
  padding: 5px 70px;
}

.doc .summary-item .left {
  display: inline-block;
  width: 50%;
  font-size: 14px;
}

.doc .summary-item .right {
  display: inline-block;
  width: 50%;
  font-size: 14px;
  text-align: right;
  font-weight: 700;
}

.doc .doc-details {
  background-color: #F5F7FA;
  overflow-x: auto;
}

.doc .doc-details thead, .doc .doc-details tbody {
  border-bottom: 1px solid #CCCCCC;
}

.doc .doc-details .total-left {
  text-align: right;
  font-size: 12px;
}

@media only screen and (min-width: 768px) {
  .doc .doc-details .total-left {
    font-size: 14px;
  }
}

.doc .doc-details .total-right {
  text-align: right;
  font-weight: 700;
  font-size: 14px;
}

@media only screen and (min-width: 768px) {
  .doc .doc-details .total-right {
    font-size: 16px;
  }
}

.doc .doc-details .notes {
  padding: 20px;
  font-size: 10px;
  color: #666666;
  line-height: 2em;
}

.doc .doc-details .notes ol {
  padding-left: 10px;
}

.doc .print-action {
  text-align: center;
  padding: 20px;
}

.doc p.message {
  font-size: 16px;
  padding: 20px;
  white-space: pre-line;
}

@media only screen and (max-width: 767px) {
  .doc .contact-container, .doc .address-container {
    display: none;
  }
  .doc .logo-container {
    width: 100%;
  }
  .doc .logo-container img {
    margin-top: 0;
  }
  .doc h2 {
    margin: 0;
  }
  .doc .summary-item {
    width: 100%;
    padding: 5px 10px;
  }
  .doc table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}

@media print {
  body {
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    font-size: 12pt;
    line-height: 1.3;
    overflow: visible;
  }
  header {
    display: none;
  }
  .scrollable-content {
    height: auto;
  }
  .content {
    padding: 0;
  }
  .doc {
    page-break-after: always;
  }
  .doc h2 {
    background-color: #FAFAFA !important;
    -webkit-print-color-adjust: exact;
  }
  .doc .contact-container, .doc .logo-container, .doc .address-container {
    width: 32%;
  }
  .doc .summary-item {
    padding: 5px 20px;
  }
  .doc .doc-details {
    background-color: #FAFAFA !important;
    -webkit-print-color-adjust: exact;
  }
  .print-action {
    display: none;
  }
  table th, table td {
    line-height: 2.4em !important;
    padding: 0 5px !important;
  }
  table th {
    font-size: 10px !important;
  }
  table td {
    font-size: 12px !important;
  }
}
/*# sourceMappingURL=index.css.map */